{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container bg-dark">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

<table class="table bg-dark  ">
  <thead class="">
    <tr>
     <th scope="col">Cafe Name</th>
      <th scope="col">Location</th>
      <th scope="col">Coffee Price</th>
      <th scope="col">Wifi</th>
      <th scope="col">Power</th>
      <th scope="col">Seats</th>
      <th scope="col">Toilet</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
  {% for cafe in cafes %}
    <th scope="row">{{ cafe.name }}</th>
      <td > <a href=" {{ cafe.map_url }}" class="text-warning">Map</a></td>
      <td>{{ cafe.coffee_price }}</td>
      <td>{{ cafe.has_wifi }}</td>
       <td>{{ cafe.has_sockets }}</td>
      <td>{{ cafe.seats }}</td>
      <td>{{ cafe.has_toilet }}</td>
      <td>{{ cafe.can_take_calls }}</td>
    </tr>
  </tbody>
{% endfor %}
          <!-- This is where you will write the code to render a Bootstrap
          Table that contains all the information from the
          cafe-data.csv file. -->
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}